import React from 'react';
<% if (styled) { -%>
import <%- name %>Styled from "./<%- name %>Styled";
<% } -%>

export const <%- name %> = (<% if (props.length) { %><%- `{${props.join(', ')}}` %><% } %>) => {
  return (
<% if (styled) { -%>
        <<%- `${name}Styled` %>>
            
        </<%- `${name}Styled` %>>
<% } else { -%>
        <div>
    
        </div>
<% } _%>
    );
}

<% if (connected) { -%>
const mapStateToProps = state => ({
<% stateProps.forEach(function(stateProp) { -%>
    <%- stateProp %>: state.<%- stateProp %>,
<% }) -%>
});

const mapDispatchToProps = {
<% actions.forEach(function(action) { -%>
    <%- action %>,
<% }) -%>
};

export const <%- name %>Connected = connect(
    mapStateToProps,
    mapDispatchToProps
)(<%- name %>);
<% } -%>